/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/* line 1, ../sass/_page.scss */
body {
  background-color: #111;
}

/* line 5, ../sass/_page.scss */
h1 {
  color: white;
  font-size: 36px;
  margin: 20px 0;
  font-family: sans-serif;
  text-align: center;
}

/* line 13, ../sass/_page.scss */
.players {
  display: table;
  margin: 0 auto;
}

/* line 18, ../sass/_page.scss */
.communicate {
  display: table;
  margin: 0 auto;
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-size: small;
  height: 30px;
  line-height: 30px;
}

/* line 29, ../sass/_page.scss */
.main {
  display: table;
  margin: 10px auto;
  height: 50px;
}
/* line 33, ../sass/_page.scss */
.main a {
  color: white;
  font-family: sans-serif;
  text-decoration: none;
}
/* line 37, ../sass/_page.scss */
.main a:hover {
  color: #d0d0d0;
}

/* line 1, ../sass/_grid.scss */
.connectfour {
  clear: both;
  width: 560px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  background: blue;
  position: relative;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin: 0 auto;
}

/* line 13, ../sass/_grid.scss */
.connectfour-disabled {
  clear: both;
  width: 560px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  background: #d0d0d0;
  position: relative;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin: 0 auto;
  cursor: none;
  pointer-events: none;
  opacity: 0.2;
}

/* line 1, ../sass/_slots.scss */
.slot-container {
  width: 60px;
  height: 60px;
  padding: 10px;
  display: block;
  float: left;
}

/* line 8, ../sass/_slots.scss */
.slot {
  width: 60px;
  height: 60px;
  -webkit-border-top-left-radius: 100%;
  -webkit-border-top-right-radius: 100%;
  -webkit-border-bottom-right-radius: 100%;
  -webkit-border-bottom-left-radius: 100%;
  -moz-border-radius-topleft: 100%;
  -moz-border-radius-topright: 100%;
  -moz-border-radius-bottomright: 100%;
  -moz-border-radius-bottomleft: 100%;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  background-color: white;
  border: 1px solid #ccc;
  display: block;
  float: left;
  cursor: pointer;
  outline: none;
  text-align: center;
  line-height: 60px;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 20, ../sass/_slots.scss */
.slot:hover {
  background-color: #d0d0d0;
}

/* line 27, ../sass/_slots.scss */
.slot-yellow {
  font-weight: 700;
  font-family: sans-serif;
  color: black;
  background-color: yellow;
}
/* line 20, ../sass/_mixins.scss */
.slot-yellow:hover {
  background-color: yellow;
}

/* line 31, ../sass/_slots.scss */
.slot-red {
  font-weight: 700;
  font-family: sans-serif;
  color: white;
  background-color: red;
}
/* line 20, ../sass/_mixins.scss */
.slot-red:hover {
  background-color: red;
}

/* line 35, ../sass/_slots.scss */
.slot-disabled {
  display: none;
}
